{% extends "/layout/master.html.twig" %}

{% block title %}Base pase{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- Titre principal -->
    <div class="row m-1">
        <div class="col-12">
            <h4 class="main-title"><i class="ph-duotone  ph-house-line"></i> - Accueil</h4>
        </div>
    </div>


    <div class="card-body">
        
        <h5 class="mb-3 text-dark f-w-600">Predator</h5>

        

    </div>
            


</div>
{% endblock %}
